/hadoop_hive.tar
/hive_data
/teste_hive_persistencia_volume_mysql/mysqldata/*
teste_hive_persistencia_volume_mysql/warehouse/*
/metastore_db
*.tar
teste_hive_persistencia_volume/warehouse/pessoas/.000000_0.crc
teste_hive_persistencia_volume/warehouse/pessoas/000000_0
teste_hive_persistencia_volume_mysql/mysqldata/#ib_16384_0.dblwr
teste_hive_persistencia_volume_mysql/mysqldata/#ib_16384_1.dblwr
teste_hive_persistencia_volume_mysql/mysqldata/auto.cnf
teste_hive_persistencia_volume_mysql/mysqldata/binlog.000001
teste_hive_persistencia_volume_mysql/mysqldata/binlog.000002
teste_hive_persistencia_volume_mysql/mysqldata/binlog.000003
teste_hive_persistencia_volume_mysql/mysqldata/binlog.index
teste_hive_persistencia_volume_mysql/mysqldata/ca-key.pem
teste_hive_persistencia_volume_mysql/mysqldata/ca.pem
teste_hive_persistencia_volume_mysql/mysqldata/client-cert.pem
teste_hive_persistencia_volume_mysql/mysqldata/client-key.pem
teste_hive_persistencia_volume_mysql/mysqldata/ib_buffer_pool
teste_hive_persistencia_volume_mysql/mysqldata/ibdata1
teste_hive_persistencia_volume_mysql/mysqldata/mysql.ibd
teste_hive_persistencia_volume_mysql/mysqldata/mysql.sock
teste_hive_persistencia_volume_mysql/mysqldata/private_key.pem
teste_hive_persistencia_volume_mysql/mysqldata/public_key.pem
teste_hive_persistencia_volume_mysql/mysqldata/server-cert.pem
teste_hive_persistencia_volume_mysql/mysqldata/server-key.pem
teste_hive_persistencia_volume_mysql/mysqldata/undo_001
teste_hive_persistencia_volume_mysql/mysqldata/undo_002
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo9
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo10_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo11_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo12_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo13_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo14_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo15_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo16_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo17_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo18_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo19_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo20_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo21_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo22_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo23_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo24_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo25_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo26_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo27_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo28_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo29_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo30_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo31_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo32_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo33_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo34_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo35_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo36_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo37_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo38_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo39_tmp
teste_hive_persistencia_volume_mysql/mysqldata/#innodb_redo/#ib_redo40_tmp
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/AUX_TABLE.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/BUCKETING_COLS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/CDS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/COLUMNS_V2.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/COMPACTION_METRICS_CACHE.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/COMPACTION_QUEUE.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/COMPLETED_COMPACTIONS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/COMPLETED_TXN_COMPONENTS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/CTLGS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/DATABASE_PARAMS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/DATACONNECTOR_PARAMS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/DATACONNECTORS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/DB_PRIVS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/DBS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/DC_PRIVS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/DELEGATION_TOKENS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/FUNC_RU.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/FUNCS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/GLOBAL_PRIVS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/HIVE_LOCKS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/I_SCHEMA.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/KEY_CONSTRAINTS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/MASTER_KEYS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/MATERIALIZATION_REBUILD_LOCKS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/METASTORE_DB_PROPERTIES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/MIN_HISTORY_LEVEL.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/MIN_HISTORY_WRITE_ID.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/MV_CREATION_METADATA.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/MV_TABLES_USED.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/NEXT_COMPACTION_QUEUE_ID.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/NEXT_LOCK_ID.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/NEXT_WRITE_ID.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/NOTIFICATION_LOG.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/NOTIFICATION_SEQUENCE.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/NUCLEUS_TABLES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PACKAGES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PART_COL_PRIVS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PART_COL_STATS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PART_PRIVS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PARTITION_EVENTS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PARTITION_KEY_VALS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PARTITION_KEYS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PARTITION_PARAMS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/PARTITIONS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/REPL_TXN_MAP.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/REPLICATION_METRICS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/ROLE_MAP.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/ROLES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/RUNTIME_STATS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SCHEDULED_EXECUTIONS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SCHEDULED_QUERIES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SCHEMA_VERSION.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SD_PARAMS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SDS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SEQUENCE_TABLE.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SERDE_PARAMS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SERDES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SKEWED_COL_NAMES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SKEWED_COL_VALUE_LOC_MAP.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SKEWED_STRING_LIST_VALUES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SKEWED_STRING_LIST.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SKEWED_VALUES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/SORT_COLS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/STORED_PROCS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TAB_COL_STATS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TABLE_PARAMS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TBL_COL_PRIVS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TBL_PRIVS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TBLS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TXN_COMPONENTS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TXN_LOCK_TBL.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TXN_TO_WRITE_ID.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TXN_WRITE_NOTIFICATION_LOG.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TXNS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TYPE_FIELDS.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/TYPES.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/VERSION.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/WM_MAPPING.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/WM_POOL_TO_TRIGGER.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/WM_POOL.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/WM_RESOURCEPLAN.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/WM_TRIGGER.ibd
teste_hive_persistencia_volume_mysql/mysqldata/metastore_db/WRITE_SET.ibd
teste_hive_persistencia_volume_mysql/mysqldata/mysql/general_log_213.sdi
teste_hive_persistencia_volume_mysql/mysqldata/mysql/general_log.CSM
teste_hive_persistencia_volume_mysql/mysqldata/mysql/general_log.CSV
teste_hive_persistencia_volume_mysql/mysqldata/mysql/slow_log_214.sdi
teste_hive_persistencia_volume_mysql/mysqldata/mysql/slow_log.CSM
teste_hive_persistencia_volume_mysql/mysqldata/mysql/slow_log.CSV
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/accounts_145.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/binary_log_trans_189.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/cond_instances_82.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/data_lock_waits_161.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/data_locks_160.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/error_log_83.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_errors_su_139.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_errors_su_140.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_errors_su_141.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_errors_su_142.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_errors_su_143.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_cu_111.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_hi_112.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_hi_113.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_su_114.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_su_115.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_su_116.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_su_117.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_stages_su_118.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_119.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_120.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_121.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_122.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_123.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_124.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_125.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_126.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_127.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_128.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_129.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_statement_130.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_131.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_132.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_133.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_134.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_135.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_136.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_137.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_transacti_138.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_cur_84.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_his_85.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_his_86.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_sum_87.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_sum_88.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_sum_89.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_sum_90.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_sum_91.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/events_waits_sum_92.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/file_instances_93.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/file_summary_by__94.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/file_summary_by__95.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/global_status_181.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/global_variables_184.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/host_cache_96.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/hosts_146.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/keyring_componen_191.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/keyring_keys_152.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/log_status_174.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/memory_summary_b_154.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/memory_summary_b_155.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/memory_summary_b_156.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/memory_summary_b_157.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/memory_summary_g_153.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/metadata_locks_159.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/mutex_instances_97.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/objects_summary__98.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/performance_time_99.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/persisted_variab_187.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/prepared_stateme_175.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/processlist_100.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_appl_165.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_appl_166.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_appl_167.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_appl_168.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_appl_170.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_appl_171.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_asyn_172.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_asyn_173.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_conn_162.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_conn_164.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_grou_163.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/replication_grou_169.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/rwlock_instances_101.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/session_account__151.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/session_connect__150.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/session_status_182.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/session_variable_185.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/setup_actors_102.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/setup_consumers_103.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/setup_instrument_104.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/setup_objects_105.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/setup_threads_106.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/socket_instances_147.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/socket_summary_b_148.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/socket_summary_b_149.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/status_by_accoun_177.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/status_by_host_178.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/status_by_thread_179.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/status_by_user_180.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/table_handles_158.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/table_io_waits_s_107.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/table_io_waits_s_108.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/table_lock_waits_109.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/threads_110.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/tls_channel_stat_190.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/user_defined_fun_188.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/user_variables_b_176.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/users_144.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/variables_by_thr_183.sdi
teste_hive_persistencia_volume_mysql/mysqldata/performance_schema/variables_info_186.sdi
teste_hive_persistencia_volume_mysql/mysqldata/sys/sys_config.ibd
teste_hive_persistencia_volume_mysql/warehouse/pessoas/.000000_0.crc
teste_hive_persistencia_volume_mysql/warehouse/pessoas/000000_0
teste_hive_persistencia_volume_pg/warehouse/pessoas/.000000_0.crc
teste_hive_persistencia_volume_pg/warehouse/pessoas/000000_0
dbt/dbt/logs/dbt.log
dbt/dbt/teste/.gitignore
dbt/dbt/teste/dbt_project.yml
dbt/dbt/teste/README.md
dbt/dbt/teste/analyses/.gitkeep
dbt/dbt/teste/macros/.gitkeep
dbt/dbt/teste/models/example/my_first_dbt_model.sql
dbt/dbt/teste/models/example/my_second_dbt_model.sql
dbt/dbt/teste/models/example/schema.yml
dbt/dbt/teste/seeds/.gitkeep
dbt/dbt/teste/snapshots/.gitkeep
dbt/dbt/teste/tests/.gitkeep
dbt/logs/dbt.log
dbt/teste/.gitignore
dbt/teste/.user.yml
dbt/teste/dbt_project.yml
dbt/teste/profiles.yml
dbt/teste/README.md
dbt/teste/analyses/.gitkeep
dbt/teste/macros/.gitkeep
dbt/teste/models/example/hive_partition_by.sql
dbt/teste/models/example/my_first_dbt_model.sql
dbt/teste/models/example/my_second_dbt_model.sql
dbt/teste/models/example/schema.yml
dbt/teste/seeds/.gitkeep
dbt/teste/snapshots/.gitkeep
dbt/teste/tests/.gitkeep
dbt/logs/dbt.log
dbt/teste/.gitignore
dbt/teste/.user.yml
dbt/teste/dbt_project.yml
dbt/teste/profiles.yml
dbt/teste/README.md
dbt/teste/analyses/.gitkeep
dbt/teste/macros/.gitkeep
dbt/teste/models/example/hive_partition_by.sql
dbt/teste/models/example/my_first_dbt_model.sql
dbt/teste/models/example/my_second_dbt_model.sql
dbt/teste/models/example/schema.yml
dbt/teste/seeds/.gitkeep
dbt/teste/snapshots/.gitkeep
dbt/teste/tests/.gitkeep
